form
  div.spacewalk-list.list
    div.spacewalk-list-top-addons
      div.spacewalk-list-alphabar
      div.spacewalk-list-pagination
    div.spacewalk-list-top-extra
    div.panel.panel-default
      div.panel-heading
        div.spacewalk-list-head-addons
          div.spacewalk-list-filter
            div.input-group.input-group-sm
              input.form-control(ng-model='filter', ng-disabled='loading', type='text', placeholder='Filter by System Name')
              span.input-group-btn
                button.btn.btn-default.spacewalk-button-filter(type='submit', ng-disabled='loading')
                  i.fa.fa-eye
          div.spacewalk-list-head-addons-extra
            div.list-sizeselector
              select.display-number(ng-disabled='loading')
                | items per page
                option 5
                option 10
                option.selected 25
                option 50
                option 100
                option 250
                option 500
      div.table-responsive
        table.table.table-striped
          thead
            tr
              th
                input(type='checkbox', ng-disabled='loading', ng-model='allSelected', ng-click='toggleAll()')
              th(ng-class='{ascSort: orderBy === "name", descSort: orderBy === "-name"}')
                a(ng-disabled='loading', ng-click='toggleNameSort()') System
              th(ng-class='{ascSort: orderBy === "status", descSort: orderBy === "-status"}')
                a(ng-disabled='loading', ng-click='toggleStatusSort()') Status
          div(ng-show='loading')
            i.fa.fa-spinner.fa-spin.fa-1-5x
            | Loading systems...
          tbody(ng-hide='loading')
            tr(
              ng-repeat='system in systems | filter: filter | orderBy: orderBy', 
              ng-class='{"list-row-odd": $index % 2 === 0, "list-row-even": $index % 2 === 1}')
              td(width='20px')
                input(type='checkbox', ng-model='system.selected')
              td.sortedCol
                a(ng-href='{{getSystemUrl(system)}}') {{system.name}}
              td.text-center(width='50px')
                i.fa.fa-minus-circle.fa-1-5-x(
                  ng-if='noInstallation(system)')
                i.fa.fa-exclamation-circle.fa-1-5x.fail(
                  ng-if='installationFail(system)') 
                i.fa.fa-check-circle.fa-1-5x.success(
                  ng-if='installationSuccess(system)') 
      div.panel-footer
        div.spacewalk-list-footer-addons
          div.spacewalk-list-footer-addons-extra
            span.spacewalk-list-selection-btns
              button.btn.btn-default(
                type='submit', 
                value='Select All', 
                ng-disabled='loading', 
                ng-click='selectAll()') Select All
    div.spacewalk-list-bottom-addons
      div.spacewalk-list-pagination
        | 1 - 1 of 1&nbsp;
        strong
          span ({{getNumSelected()}} selected)
    div.text-right
      hr
      input.btn.btn-default(type='submit', value='Apply', ng-disabled='loading', ng-click='doApply()')
