form
  div.spacewalk-list.list
    div.spacewalk-list-top-addons
      div.spacewalk-list-alphabar
        ul.spacewalk-alphabar.pagination.pagination-sm
          li
            a 0
          li
            a 1
          li
            a 2
          li
            a 3
          li
            a 4
          li
            a 5
          li
            a 6
          li
            a 7
          li
            a 8
          li
            a 9
          li
            a a
          li
            a b
          li
            a c
          li
            a d
          li
            a e
          li
            a f
          li
            a g
          li
            a h
          li
            a i
          li
            a j
          li
            a k
          li
            a l
          li
            a m
          li
            a n
          li
            a o
          li
            a p
          li
            a q
          li
            a r
          li
            a s
          li
            a t
          li
            a u
          li
            a v
          li
            a w
          li
            a x
          li
            a y
          li
            a z
      div(rha-insights-sat5-pagination)
    div.spacewalk-list-top-extra
    div.panel.panel-default
      div.panel-heading
        div.spacewalk-list-head-addons
          div.spacewalk-list-filter
            div.input-group.input-group-sm
              input.form-control(
                ng-model='filter',
                ng-change='doFilter()',
                ng-disabled='loading',
                type='text',
                placeholder='Filter by System Name')
              span.input-group-btn
                button.btn.btn-default.spacewalk-button-filter(
                  type='submit',
                  ng-disabled='loading')
                  i.fa.fa-eye
          div.spacewalk-list-head-addons-extra
            div.list-sizeselector
              select.display-number(
                  ng-options='size for size in pageSizes',
                  ng-disabled='loading', 
                  ng-change='setPageSize()', 
                  ng-model='pageSize')
                | items per page
      div.table-responsive
        table.table.table-striped
          thead
            tr
              th
                input(
                  ui-indeterminate='allPartiallySelected()',
                  ng-checked='allSelected()',
                  type='checkbox',
                  ng-disabled='loading',
                  ng-click='toggleAll()')
              th(ng-class='{ascSort: orderBy === "name", descSort: orderBy === "-name"}')
                a(ng-disabled='loading', ng-click='toggleNameSort()') System
              th(ng-class='{ascSort: orderBy === "status", descSort: orderBy === "-status"}')
                a(ng-disabled='loading', ng-click='toggleStatusSort()') Status
          div(ng-show='loading')
            i.fa.fa-spinner.fa-spin.fa-1-5x
            | Loading systems...
          tbody(ng-hide='loading')
            tr(
              ng-repeat='system in getSystems() | systemsFilter:filter:orderBy:getPageStart():getPageSize()',
              ng-class='{"list-row-odd": $index % 2 === 0, "list-row-even": $index % 2 === 1}')
              td(width='20px')
                input(
                  ui-indeterminate='systemPartiallySelected(system)',
                  type='checkbox',
                  ng-model='system.enabled',
                  ng-if='!invalidType(system)')
              td.sortedCol
                a(ng-href='{{getSystemUrl(system)}}') {{system.name}}
              td.text-center(width='50px')
                i.fa.fa-minus-circle.fa-1-5-x(
                  ng-if='noInstallation(system)')
                i.fa.fa-exclamation-circle.fa-1-5x.fail(
                  ng-if='installationFail(system)') 
                i.fa.fa-check-circle.fa-1-5x.success(
                  ng-if='installationSuccess(system)') 
                i.fa.fa-ban.fa-1-5x(
                  ng-if='invalidType(system)') 
      div.panel-footer
        div.spacewalk-list-footer-addons
          div.spacewalk-list-footer-addons-extra
            span.spacewalk-list-selection-btns
              button.btn.btn-default(
                type='submit', 
                value='Select All', 
                ng-disabled='loading', 
                ng-click='selectAll()') Select All
    div.spacewalk-list-bottom-addons
      div(rha-insights-sat5-pagination)
    div.text-right
      hr
      div.row
        div.col-md-12
          a View Changes
      div.row
        div.col-md-12
          input.btn.btn-default(type='submit', value='Apply', ng-disabled='loading', ng-click='doApply()')
