div.page-summary
  p Select the systems which will report data to Red Hat Access Insights. After clicking apply, the redhat-access-insights RPM will be installed on the newly selected system. Deselecting a system with the RPM already installed will unregister the system from Red Hat Access insights and schedule the RPM to be uninstalled.
div(ng-if='getSystems().length < 1')
  strong No systems are registered.
form(ng-if='getSystems().length > 0')
  div.spacewalk-list.list
    div.spacewalk-list-top-addons
      div.spacewalk-list-alphabar
        ul.spacewalk-alphabar.pagination.pagination-sm
          li(ng-repeat='a in alphas', ng-class='{active: a === alpha, disabled: disableAlphabarElement(a)}')
            a(ng-click='alphabarFilter(a)', ng-disabled='disableAlphabarElement(a)') {{a}}
      div(rha-insights-sat5-pagination)
    div.spacewalk-list-top-extra
    div.panel.panel-default
      div.panel-heading
        div.spacewalk-list-head-addons
          div.spacewalk-list-filter
            div.input-group.input-group-sm
              input.form-control(
                ng-model='filter',
                ng-change='doFilter()',
                ng-disabled='isLoading()',
                type='text',
                placeholder='Filter by System Name')
              span.input-group-btn
                button.btn.btn-default.spacewalk-button-filter(
                  type='submit',
                  ng-disabled='isLoading()')
                  i.fa.fa-eye
          div.spacewalk-list-head-addons-extra
            div.list-sizeselector
              select.display-number(
                  ng-init='pageSize = 10',
                  ng-disabled='isLoading()',
                  ng-options='s.value as s.value for s in pageSizes',
                  ng-change='setPageSize(pageSize)',
                  ng-model='pageSize')
      div.panel-heading(ng-show='isLoading()') 
        i.fa.fa-spinner.fa-spin.fa-1-5x
        | {{getLoadingMessage()}}
      div.table-responsive
        table.table.table-striped
          thead
            tr
              th
                input(
                  ui-indeterminate='allPartiallySelected()',
                  ng-checked='allSelected()',
                  type='checkbox',
                  ng-disabled='isLoading()',
                  ng-click='toggleAll()')
              th(ng-class='{ascSort: orderBy === "name", descSort: orderBy === "-name"}')
                a(ng-disabled='isLoading()', ng-click='toggleNameSort()') System
              th Last Check In
              th RPM Status
          tbody
            tr(
              ng-repeat='system in filteredSystems = (getSystems() | systemsFilter:filter:orderBy:getPageStart():alpha)',
              ng-class='{"list-row-odd": $index % 2 === 0, "list-row-even": $index % 2 === 1}')
              td(width='20px')
                input(
                  ui-indeterminate='systemPartiallySelected(system)',
                  type='checkbox',
                  ng-model='system.enabled',
                  ng-change='updateSystemStatus(system)',
                  ng-disabled='disableSystemCheckbox(system)',
                  ng-if='!invalidType(getSystemStatus(system))')
              td.sortedCol
                a(ng-href='{{getSystemUrl(system)}}') {{system.name}}
              td(width='150px')
                span(ng-if='getSystemLastCheckIn(system) !== null && getSystemLastCheckIn(system) !== "never"') {{getSystemLastCheckIn(system) | timeAgo }}
                span(ng-if='getSystemLastCheckIn(system) === null') Pending
                span(ng-if='getSystemLastCheckIn(system) === "never"') Not registered
              td.text-center(width='100px')
                div(
                  tooltip='{{installStatusTooltip(system)}}', 
                  tooltip-trigger='mouseenter', 
                  tooltip-append-to-body='true', 
                  tooltip-placement='top')
                  i.fa.fa-question-circle.fa-1-5x(
                    ng-if='loadingStatus(getSystemStatus(system))')
                  i.fa.fa-minus-circle.fa-1-5x(
                    ng-if='noInstallation(getSystemStatus(system))')
                  i.fa.fa-ban.fa-1-5x(
                    ng-if='noChannel(getSystemStatus(system))') 
                  i.fa.fa-check-circle.fa-1-5x.success(
                    ng-if='installationSuccess(getSystemStatus(system))') 
                  a(ng-href='{{getPendingActionUrl(system)}}')
                    i.fa.fa-clock-o.fa-1-5x(
                      ng-if='installationPending(getSystemStatus(system))')
      div.panel-footer
        div.spacewalk-list-footer-addons
          div.spacewalk-list-footer-addons-extra
            span.spacewalk-list-selection-btns
              button.btn.btn-default(
                type='submit', 
                value='Select All', 
                ng-disabled='isLoading()', 
                ng-click='toggleAll()') Select All
    div.spacewalk-list-bottom-addons
      div(rha-insights-sat5-pagination)
    div.text-right
      hr
      div.row
        div.col-md-12
          input.btn.btn-default(type='submit', value='Apply', ng-disabled='isLoading()', ng-click='doApply()')
